In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\Nikhil\OneDrive\Desktop\dataset_project_2\dataset_1.csv")

In [16]:
df.head(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
0,1,2011-01-01,1,0,1,0,0,6,1,0
1,2,2011-01-01,1,0,1,1,0,6,1,0
2,3,2011-01-01,1,0,1,2,0,6,1,0
3,4,2011-01-01,1,0,1,3,0,6,1,0
4,5,2011-01-01,1,0,1,4,0,6,1,0

In [4]:
df.shape

(610, 10)

In [19]:
df['yr'].unique()

array([0], dtype=int64)

In [5]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weathersit    0
temp          0
dtype: int64

In [21]:
df.drop(["instant"],axis = 1)

        dteday  season  yr  mnth  hr  holiday  weekday  weathersit  temp
0   2011-01-01       1   0     1   0        0        6           1     0
1   2011-01-01       1   0     1   1        0        6           1     0
2   2011-01-01       1   0     1   2        0        6           1     0
3   2011-01-01       1   0     1   3        0        6           1     0
4   2011-01-01       1   0     1   4        0        6           1     0
..         ...     ...  ..   ...  ..      ...      ...         ...   ...
605 2011-01-28       1   0     1  11        0        5           3     0
606 2011-01-28       1   0     1  12        0        5           3     0
607 2011-01-28       1   0     1  13        0        5           3     0
608 2011-01-28       1   0     1  14        0        5           3     0
609 2011-01-28       1   0     1  15        0        5           2     0

[610 rows x 9 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     610 non-null    int64
 1   dteday      610 non-null    object
 2   season      610 non-null    int64
 3   yr          610 non-null    int64
 4   mnth        610 non-null    int64
 5   hr          610 non-null    int64
 6   holiday     610 non-null    bool
 7   weekday     610 non-null    int64
 8   weathersit  610 non-null    int64
 9   temp        610 non-null    float64
dtypes: bool(1), float64(1), int64(7), object(1)
memory usage: 43.6+ KB

In [8]:
import datetime

In [9]:
df['dteday'] = df['dteday'].apply(lambda x: datetime.datetime.strptime(x,'%d-%m-%Y'))

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     610 non-null    int64
 1   dteday      610 non-null    datetime64[ns]
 2   season      610 non-null    int64
 3   yr          610 non-null    int64
 4   mnth        610 non-null    int64
 5   hr          610 non-null    int64
 6   holiday     610 non-null    bool
 7   weekday     610 non-null    int64
 8   weathersit  610 non-null    int64
 9   temp        610 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(7)
memory usage: 43.6 KB