In [ ]:
#

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r"C:\Users\Nikhil\OneDrive\Desktop\dataset_project_2\dataset_2.xlsx")
print(df)

     Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0             0        1  0.2879  0.81     0.0000       3          13   16
1             1        2  0.2727  0.80     0.0000       8          32   40
2             2        3  0.2727  0.80     0.0000       5          27   32
3             3        4  0.2879  0.75     0.0000       3          10   13
4             4        5  0.2879  0.75     0.0000       0           1    1
..          ...      ...     ...   ...        ...     ...         ...  ...
605         605      606  0.2121  0.93     0.1045       0          30   30
606         606      607  0.2121  0.93     0.1045       1          28   29
607         607      608  0.2121  0.93     0.1045       0          31   31
608         608      609  0.2727  0.80     0.0000       2          36   38
609         609      610  0.2576  0.86     0.0000       1          40   41

[610 rows x 8 columns]

In [3]:
df.head(5)

   Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0           0        1  0.2879  0.81        0.0       3          13   16
1           1        2  0.2727  0.80        0.0       8          32   40
2           2        3  0.2727  0.80        0.0       5          27   32
3           3        4  0.2879  0.75        0.0       3          10   13
4           4        5  0.2879  0.75        0.0       0           1    1

In [4]:
df.shape

(610, 8)

In [5]:
df.drop(['Unnamed: 0'],axis = 1,inplace = True)

In [6]:
df.head()

   instant   atemp   hum  windspeed  casual  registered  cnt
0        1  0.2879  0.81        0.0       3          13   16
1        2  0.2727  0.80        0.0       8          32   40
2        3  0.2727  0.80        0.0       5          27   32
3        4  0.2879  0.75        0.0       3          10   13
4        5  0.2879  0.75        0.0       0           1    1

In [16]:
df['windspeed'].unique()

array([0.    , 0.0896, 0.2537, 0.2836, 0.2985, 0.194 , 0.2239, 0.1343,
       0.1642, 0.3284, 0.4478, 0.3582, 0.4179, 0.3881, 0.1045, 0.4925,
       0.5522, 0.4627, 0.5224, 0.5821])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     610 non-null    int64
 1   atemp       599 non-null    float64
 2   hum         610 non-null    float64
 3   windspeed   610 non-null    float64
 4   casual      610 non-null    int64
 5   registered  610 non-null    int64
 6   cnt         610 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 33.5 KB

In [8]:
df.isnull().sum()

instant        0
atemp         11
hum            0
windspeed      0
casual         0
registered     0
cnt            0
dtype: int64

In [9]:
df['atemp'].fillna(df['atemp'].mean(),inplace =True)

In [10]:
df.isnull().sum()

instant       0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     610 non-null    int64
 1   atemp       610 non-null    float64
 2   hum         610 non-null    float64
 3   windspeed   610 non-null    float64
 4   casual      610 non-null    int64
 5   registered  610 non-null    int64
 6   cnt         610 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 33.5 KB

In [17]:
df.describe()

,instant,atemp,hum,windspeed,casual,registered,cnt
count,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000
mean,305.500000,0.199935,0.562475,0.204851,4.501639,51.068852,55.570492
std,176.236111,0.078120,0.175440,0.121806,6.319945,47.021204,49.316802
min,1.000000,0.000000,0.210000,0.000000,0.000000,0.000000,1.000000
25%,153.250000,0.151500,0.432500,0.104500,0.000000,14.000000,16.000000
50%,305.500000,0.197000,0.520000,0.194000,2.000000,43.000000,47.000000
75%,457.750000,0.227300,0.690000,0.283600,6.000000,70.000000,79.750000
max,610.000000,0.454500,1.000000,0.582100,47.000000,247.000000,249.000000